@model IEnumerable<CompanyHouseApp.Models.CompanyHouse>

@{
    ViewBag.Title = "Index";
}

<h2>Company House Search</h2>

<p>
    @using (Html.BeginForm("Index", "CompanyHouse", FormMethod.Get))
    {
        @Html.TextBox("name")<input type="submit" value="Search"/>
    }
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Company Name</th>
        <th>Company Number</th>
        <th>PoBox</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>Locality</th>
        <th>Region</th>
        <th>Country</th>
        <th>Category</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="3" style="color: red">No Result</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address.postal_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address.address_line_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address.address_line_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address.locality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address.region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_status)
                </td>
            </tr>
        }
    }

    </tbody>

</table>
